/********************************************************************************
 Img                                                                           
*********************************************************************************/

img {
  	max-width: $full-width;
  	width: $full-width;
  	height: auto;
}

video {
}
